<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>User Data</title>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Log out</button>
    </form>
</head>
<body th:object="${user}">
<h1>[[${user.username}]], добро пожаловать!</h1>
<p>Username:
    <a th:text="${user.username}"></a></p>
<p>Password:
    <a th:text="${user.password}"></a> - кстати он зашифрован bCrypt</p>
<p>Roles:
    <a th:each="role : ${user.getRoles()}">[[${role.getName()}]]</a></p>
</body>
</html>