<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Manager</title>
</head>
<body>
<form th:action="@{/logout}" th:method="POST">
    <button type="submit">Log out</button>
</form>
<div align= "center">
    <h2>Users</h2>
    <form th:method="Get" th:action="@{/admin}">
        <h3><a href="/admin/new">New user</a></h3>
        <table border="1" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>UserName</th>
                <th>Password</th>
                <th>Roles</th>
                <th>Action</th>
            </tr>
            <tr th:each="user:${userList}">
                <td th:text="${user.getId()}">...</td>
                <td th:text="${user.getUsername()}">...</td>
                <td th:text="${user.getPassword()}"></td>
                <td>
                    <div th:each="role:${user.getRoles()}">[[${role.getName()}]]</div>
                </td>
                <td>
                    <form th:method="GET"  th:action="@{/admin/{id}(id=${user.getId()})}">
                        <button type="submit">Update</button>
                    </form>
                    <br>
                    <br>
                    <form th:method="Delete" th:action="@{/admin/{id}/delete(id=${user.getId()})}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>